
  <!-- Slider -->
  <div class="slider">
      <div class="container">
          <div class="row">
              <div class="span10 offset1">
                  <div class="flexslider">
                      <ul class="slides">
                          <li data-thumb="assets/img/slider/slide001.jpg">
                              <img src="assets/img/slider/slide001.jpg">
                          </li>
                          <li data-thumb="assets/img/slider/slide002.jpg">
                              <img src="assets/img/slider/slide002.jpg">
                          </li>
                          <li data-thumb="assets/img/slider/slide003.jpg">
                              <img src="assets/img/slider/slide003.jpg">
                          </li>
                          <li data-thumb="assets/img/slider/slide004.jpg">
                              <img src="assets/img/slider/slide004.jpg">
                          </li>
                          <li data-thumb="assets/img/slider/slide005.jpg">
                              <img src="assets/img/slider/slide005.jpg">
                          </li>
                          <li data-thumb="assets/img/slider/slide006.jpg">
                              <img src="assets/img/slider/slide006.jpg">
                          </li>
                          <li data-thumb="assets/img/slider/slide007.jpg">
                              <img src="assets/img/slider/slide007.jpg">
                          </li>
                          <li data-thumb="assets/img/slider/slide008.jpg">
                              <img src="assets/img/slider/slide008.jpg">
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>

 <!-- Services -->
  <div class="what-we-do container">
      <div class="row">
          <div class='span6 offset1'>
              <h2><span class="violet">Welcome to Ogaden Media.com.</span></h2>
              <div class='bit-large'><%=  raw @page.content_for(:body) %></div></div>
              <div class='span4 offset1'>
              <embed
              width="350" height="300"
              src="<%= @page.video_link %>"
              type="application/x-shockwave-flash">
              </embed>

          </div>
      </div>
  </div>

  <!-- Third Layer -->
  <div class='what-we-do container'>
    <div class='row'>
        <div class='span5 offset1'>
          <h2><span class="violet">News Awards</span></h2>
            <div class='bit-large'><%= raw @page.content_for(:news_awards) %></div>
        </div>
        <div class='span4 offset2'>
          <h2><span class="violet">OGADENIA Advantage</span></h2>
            <div class='bit-large'><%= raw @page.content_for(:ogadenia_advantage) %></div>
        </div>
      </div>
  </div> <!-- container -->
  <!-- Third Layer - finish -->
