<!-- Services -->
 <div class="what-we-do container">
     <div class="row">
         <div class='span6 offset1'>
             <h2><span class="violet"><%= raw @page.title %></span></h2>
             <p class='bit-large'><%=  raw @page.content_for(:body) %></p></div>
             <div class='span4 offset1'>
             <embed
             width="350" height="300"
             src="https://www.youtube.com/v/6XruBxAL4ek"
             type="application/x-shockwave-flash">
             </embed>

         </div>
     </div>
 </div>
