<%# Intentionally empty, useful override point to add extra fields. %>
<div class="field">
  <%= f.label :video_link %>
  <%= f.text_field :video_link, :class => "larger widest" %>
  <p style='font-size: 10px;color: grey'>Add in https://www.youtube.com/v/28-gDM3WkvE format</p>
</div>
