<% content_for :body_content_title do %>
  <%= @main.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Main Content</h1>
    <p>
      <%=raw @main.main_content %>
    </p>
  </section>
  <section>
    <h1>News</h1>
    <p>
      <%=raw @main.news %>
    </p>
  </section>
  <section>
    <h1>Advantage</h1>
    <p>
      <%=raw @main.advantage %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="mains">
      <% @mains.each do |main| %>
        <li>
          <%= link_to main.title, refinery.mains_main_path(main) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
