<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(main) -%>">
  <span class='title'>
    'Home Page'
  </span>
  <span class='actions'>

    <%= link_to refinery_icon_tag("application_go.png"), refinery.mains_main_path(main),
        :title => t('.view_live_html'),
        :target => "_blank" %>

    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_mains_admin_main_path(main),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.mains_admin_main_path(main),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => 'title comes here'),
        :method => :delete %>
  </span>
</li>
