<!DOCTYPE html>
<html lang="en">
<%#= render '/refinery/html_tag' %>
  <%#= render '/refinery/head' %>
  <head>

      <meta charset="utf-8">
      <title>OgadenMedia  -  Ogaden Airlines</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- CSS -->
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
      <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
      <!-- <link rel="stylesheet" href="/assets/prettyPhoto/css/prettyPhoto.css"> -->
      <link rel="stylesheet" href="/assets/css/flexslider.css">
      <link rel="stylesheet" href="/assets/css/font-awesome.css">
      <link rel="stylesheet" href="/assets/css/style.css">

      <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- Favicon and touch icons -->
      <link rel="shortcut icon" href="assets/ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body>
<!-- body starts -->
  <!-- Header -->
  <div class="container">
      <div class="header row">
          <div class="span12">
              <div class="navbar">

                          <a class="brand" href="index.html"></a>
                      <div class="nav-collapse collapse">
                          <ul class="nav pull-right">
                              <li class="current-page">
                                  <a href="/"><i class="icon-home"></i><br />Home</a>
                              </li>
                              <li>
                                  <a href="news.html"><i class="icon-camera"></i><br />News</a>
                              </li>
                              <li>
                                  <a href="editorial"><i class="icon-comments"></i><br />Editorial</a>
                              </li>
                              <li>
                                  <a href="contact-us"><i class="icon-user-md"></i><br />Contact Us</a>
                              </li>
                              <li>
                                  <a href="video.html"><i class="icon-film"></i><br />Video</a>
                              </li>
                              <li>
                                  <a href="sports.html"><i class="icon-road"></i><br />Sports</a>
                              </li>
                              <li>
                                  <a href="opinion.html"><i class="icon-tasks"></i><br />Opinion</a>
                              </li>
                              <li>
                                  <a href="articles.html"><i class="icon-envelope-alt"></i><br />Articles</a>
                              </li>
                              <li>
                                  <a href="poetry.html"><i class="icon-headphones"></i><br />Poetry</a>
                              </li>
                          </ul>
                      </div>

              </div>
          </div>
      </div>
  </div>


  <%= yield %>


  <!-- Footer -->
  <footer>
      <div class="container">
          <div class="row">
              <div class="widget span3 lineheight-adjust">
                  <h4>Web Links</h4>
                    <p>Aware </p>
                    <p> Haradigeed</p>
                    <p>ogaden Online </p>
                    <p> ogadentoday</p>
                    <p><a href='http://www.ogadenmedia.com/ecommerce_web_hosting'>onlf.org </a></p>
                    <p>qorahay Online </p>
                    <p> radioogaal</p>
                    <p>Faallo.com </p>
                    <p> Waamonews.com</p>
                    <p> Kismaayonews.com</p>
                    <p> Qorahaynews</p>

              </div>
              <div class="widget span3">
                  <h4>Web Links</h4>
                  <p>Afdheer</p>
                  <p>Dhanaan</p>
                  <p>Doollo</p>
                  <p>Halgan</p>
                  <p>Ijaranews</p>
                  <p>KismaayoNews</p>
                  <p>Ogaden.info </p>
                  <p>Ogadennews</p>
                  <p>Wabishabeele</p>
                  <p>Wardheernews</p>
                  <p>Cakaaranews.com</p>
                  <p>oncnews.net</p>
              </div>
              <div class="widget span3">
                  <h4>TV Links</h4>
                  <p>IleysTv</p>
                  <p>ESTV</p>
                  <h4>Radio Links</h4>
                  <p>Radio xoriyo</p>
                  <p>Cakaara Radio</p>
                  <p>Qorahay Radio</p>
                  <p>Radio Ogaal Live</p>
              </div>
              <div class="widget span3">
                  <h4>Forum Hosting</h4>
                  <p>XMB eXtreme Hosting</p>
                  <p>phpBB Hosting</p>
                  <p>Simple Machines Hosting</p>
                  <p>Vanilla Forum Hosting</p>
                  <p>AEF Hosting</p>
                  <h4>Social Network and Community Website Hosting</h4>
                  <p>SocialEngine Hosting</p>
                  <p>Jcow Hosting</p>
                  <p>Skadate Hosting</p>
                  <p>Dolphin Hosting</p>
                  <p>Elgg Hosting</p>
              </div>
          </div>
          <div class="footer-border"></div>
          <div class="row">
              <div class="copyright span8">
                  <p>Copyright © 2003-2013 Ogaden Media LLC . All trademarks are property of their legal owner.</p>
              </div>
              <div class="social span4">
                  <a class="facebook" href=""></a>
                  <a class="dribbble" href=""></a>
                  <a class="twitter" href=""></a>
                  <a class="pinterest" href=""></a>
              </div>
          </div>
      </div>
  </footer>

<!-- body starts -->
    <!-- Javascript -->
    <script src="/assets/js/jquery-1.8.2.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.flexslider.js"></script>
    <script src="/assets/js/jquery.quicksand.js"></script>
    <script src="/assets/js/scripts.js"></script>
    <%#= render "/refinery/javascripts" %>
  </body>
</html>
